.sidebar {
  min-width: 229px;
}

.sidebar__row {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  justify-content: left;
}

.sidebar__username {
  white-space: nowrap;
}

.sidebar__signout-btn {
  border: none;
  background: transparent;
  cursor: pointer;

  padding: 0;
  margin-top: 8px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  color: #000;
  text-align: left;
}

.sidebar__signout-btn:hover {
  opacity: 0.6;
}

.sidebar__edit-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;

  min-width: 56px;
  min-height: 56px;

  max-width: 56px;
  max-height: 56px;

  border-radius: 50%;
  object-fit: cover;
}
